.AddTodoModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background: rgba(0, 0, 0, 0.75)
}

.AddTodoModal {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -35%);
    min-width: 400px;
    width: 33%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 10;
}