body {
    background-color: rgb(179, 179, 179);
}

.App {
    height: 500px;
    padding: 0;
    width: 40%;
    min-width: 400px;
    margin-top: 5rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

header {
    background-color: rgb(50, 85, 201);
    margin: 0;
    height: 10%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    font-size: larger;
    margin-bottom: 1rem;
}

footer {
    background-color: rgb(245, 245, 249);
    padding: 0 1.5rem;
    color: rgb(184, 184, 184);
    height: 10%;
    display: flex;
    justify-content: center;
}

.App-todoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.App-footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.3rem;
    width: 50%;
}

.App-footerElement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-footerElement span {
    font-size: small;
    margin-top: .2rem;
}

.App-addTodoButton {
    margin-left: auto;
    padding-bottom: .7rem;
    padding-right: 1.5rem;
    font-size: 2.5rem;
    color: rgb(50, 85, 201)
}

.App-addTodoButton:hover {
    margin-left: auto;
    padding-bottom: .7rem;
    padding-right: 1.5rem;
    font-size: 2.5rem;
    color: rgb(44, 75, 179);
    cursor: pointer;
}